.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 700px;
  height: fit-content;
  padding: 2rem 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.card h3 {
  padding: .5rem 2rem;
  border-bottom: 1px solid #ccc;
}
.card .userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.userImg {
  width: 7rem;
  height: 7rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 0.2rem;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details span {
  display: block;
  color: #a6a6a6;
  font-size: 14px;
}
