.mainNavigation {
  width: 100%;
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 99;
  
}
.mainNavigation nav {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "logo list"
    "search search";
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  padding: 0.5rem;
}
nav .logo {
  grid-area: logo;
  font-weight: 700;
  font-size: large;
}
.mainNavigation ul {
  grid-area: list;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mainNavigation .searchBar {
  grid-area: search;
}
.mainNavigation a {
  display: inline-block;
  padding: 0.5rem 1rem;
  position: relative;
  border-radius: 8px;
  color: var(--color-black);
  transition: var(--transition);
}
.mainNavigation .activeLink {
  color: var(--color-orange);
}
.mainNavigation span {
  position: absolute;
  top: 2px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  color: #fff;
  background-color: var(--color-orange);
  border-radius: 50%;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .mainNavigation {
    border-bottom: 2px solid var(--color-gray);
  }
  .mainNavigation nav {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-template-areas: "logo search list";
  }
}
