.cartItemList {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #cbd5e1;
  overflow: hidden;
  flex: 1;
}
.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.cartItem:not(:last-child) {
  border-bottom: 1px solid #cbd5e1;
}
.cartItem .itemImg {
  width: 100px;
  height: 100px;
}
.cartItem .itemImg img {
  width: 100%;
  height: auto;
}
.cartSummary {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #cbd5e1;
  overflow: hidden;
  width: 30%;
  margin-left: 3rem;
  padding: 1rem;
}
.cartCenter {
  display: flex;
  width: 90vw;
  max-width: 1170px;
  justify-content: center;
}
.summaryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
}
.summaryItem:last-child {
  border-top: 1px solid #cbd5e1;
}
.btnGroup button {
  width: 32px;
  height: 32px;
  outline: none;
  color: #6d28d9;
  border: 1px solid #6d28d9;
  background-color: #fff;
}
.btnGroup button:first-child {
  border-radius: 6px 0 0 6px;
}
.btnGroup button:last-child {
  border-radius: 0 6px 6px 0;
}
.btnGroup button:nth-child(2) {
  border-right: 0;
  border-left: 0;
}
