.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.linkContainer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}
.linkContainer a {
  margin-left: 4px;
  color: #2563eb;
}
