:root {
  --color-orange: #ee384e;
  --color-black: #0d0d0d;
  --color-white: #ffffff;
  --color-gray: #f3f3f4;
  --color-blue: #11a5cd;
  --transition: all 0.3s ease-in-out;
}
.wrapper {
  margin: 0 auto;
}
.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
.filterContainer {
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-white);
  padding: 0 1.5rem;
}
.container {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}
.btnContainer {
  text-align: center;
  padding: 12px 0;
}
.btn {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 8px 16px;
  background-color: var(--color-gray);
  color: var(--color-orange);
  border-radius: 12px;
}
.primary {
  background-color: var(--color-orange);
  color: #fff;
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--color-gray);
  color: #ccc;
}
.desktopFilter {
  display: none;
  border-right: 1px solid var(--color-gray);
  padding: 1rem;
  width: 100%;
}
.desktopSort {
  display: none;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}
.desktopSort div {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.desktopSort li {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
.desktopSort .desktopOption input {
  display: none;
}
.mainContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(auto-fill, minmax(2rem, 1fr));
  grid-template-areas: "sort filter" "main main";
  padding: 0 2rem;
  column-gap: 1rem;
  row-gap: 2rem;
  place-items: center;
  place-content: center;
}
main {
  grid-area: main;
}
.filter {
  position: sticky;
  top: 0;
  grid-area: filter;
}
.sort {
  position: sticky;
  top: 0;
  grid-area: sort;
  display: flex;
}
@media screen and (min-width: 768px) {
  .container {
    position: relative;
    top: 2rem;
  }
  .mainContainer {
    grid-template-columns: 25% 75%;
    grid-template-rows: 55px minmax(500px, 1fr);
    grid-template-areas:
      "filter sort"
      "filter main"
      "filter main";
    place-items: start;
    padding: 0 1rem;
    column-gap: 0;
    row-gap: 0;
  }
  .desktopSort ul {
    display: flex;
    align-items: center;
  }
  main {
    border-left: 1px solid var(--color-gray);
    padding: 2rem;
  }
}
